extends ./layout/index

block content
    main.container.mt-5 
        h1.text-center.mt-5 #{page}
        .row


            h2.d-block.w-100.text-center Agrega un testimonial


            .row.justify-content-center.col
                .col-md-8
                    form(action="" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text", placeholder="Tu nombre", name="nombre", class="form-control")
                        .form-group
                            label(for="correo") Correo electrónico
                            input#correo(type="text", placeholder="Tu correo", name="correo", class="form-control")
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje( placeholder="Deja un mensaje", name="mensaje", class="form-control", rows=3)
                        input.btn.btn-success.btn-block(type="submit")