extends ./layout/index

block content
        min.container.mt-5
            .row
                .col-md-5
                    img(src="img/nosotros.jpg",alt="", class="img-fluid")
                .col-md-7
                    h1 #{page}
                    
                    blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales lacus sit amet quam molestie, vel commodo dolor pharetra. Maecenas maximus nisl libero, ac tristique magna volutpat eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta sodales arcu, sit amet tempor quam suscipit quis. Sed ut arcu eleifend, tincidunt diam vel, consequat tortor. Aliquam in bibendum nulla. Fusce eget aliquam purus. In imperdiet at enim ac dictum. Sed non faucibus nisi. Maecenas congue, libero nec imperdiet hendrerit, mi leo iaculis dui, sit amet faucibus velit massa nec nibh. Nunc eu nisl eget nisl interdum gravida. Cras ultrices risus neque, et tempus elit euismod in.

                    p Etiam mollis sed diam ut interdum. Cras non odio maximus, viverra est quis, semper orci. Vestibulum in libero nisi. In cursus bibendum tristique. Quisque dolor ante, lacinia non ornare eget, fringilla eget enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies elit in elementum consequat. Fusce facilisis sed nisl et rutrum.

                    p Curabitur id nibh orci. Aliquam eget nisi libero. Ut posuere augue eget vulputate venenatis. Nulla placerat a nisl ac iaculis. Curabitur magna justo, gravida sit amet gravida ut, tempor sed urna. Pellentesque ac rutrum ante, sit amet venenatis lacus. Aliquam ullamcorper eu lectus eu iaculis. Suspendisse sit amet sapien non diam iaculis fermentum. Praesent porta, augue a vulputate mollis, elit dui luctus sem, in pellentesque neque justo sit amet nunc.
        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Curabitur id nibh orci. Aliquam eget nisi libero. Ut posuere augue eget vulputate venenatis. Nulla placerat a nisl ac iaculis. Curabitur magna justo, gravida sit amet gravida ut, tempor sed urna. Pellentesque ac rutrum 
                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Mejores destinos
                        p Curabitur id nibh orci. Aliquam eget nisi libero. Ut posuere augue eget vulputate venenatis. Nulla placerat a nisl ac iaculis. Curabitur magna justo, gravida sit amet gravida ut, tempor sed urna. Pellentesque ac rutrum 
                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Los mejores precios 
                        p Curabitur id nibh orci. Aliquam eget nisi libero. Ut posuere augue eget vulputate venenatis. Nulla placerat a nisl ac iaculis. Curabitur magna justo, gravida sit amet gravida ut, tempor sed urna. Pellentesque ac rutrum 