API/node_modules
API/package-lock.json
frontend/node_modules
frontend/package-lock.json

# testing
/coverage

# production
/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
